/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #141531;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    color: #004499;
}

/* Header Styles */
header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px; /* Adjusted padding */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

header nav h2 {
    margin: 0;
    padding: 0;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

header nav ul li {
    margin: 0 15px;
}
header nav ul li a {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
}

/* Main Content Styles */
main {
    padding: 150px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-details h1 {
    text-align: center;
    color: #0066cc;
}

.project-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.project-info {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.project-info h2 {
    color: #0066cc;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.project-info ul {
    list-style: disc;
    padding-left: 20px;
}
.gallery-wrapper {
    position: relative;
    overflow: hidden; /* Hide the scrollbars */
    margin: 20px 0;
}

.gallery {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents line breaks */
    padding: 10px; /* Optional: Add padding if needed */
    max-width: 100%; 
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.gallery img {
    flex: 0 0 auto; /* Prevents images from shrinking or growing */
    max-height: 600px; /* Adjust the max height as needed */
    margin-right: 10px; /* Adds spacing between images */
}

.gallery img:last-child {
    margin-right: 0; /* Removes margin from the last image */
}
.gallery-wrapper::before, .gallery-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px; /* Width of the gradient */
    z-index: 1;
}

.gallery-wrapper::before {
    left: 0;
    background: linear-gradient(to right, rgba(20, 21, 49, 1), rgba(20, 21, 49, 0));
}

.gallery-wrapper::after {
    right: 0;
    background: linear-gradient(to left, rgba(20, 21, 49, 1), rgba(20, 21, 49, 0));
}
/* @media (min-width: 768px) {
    .gallery {
        max-width: 600px; 
    }
} */


.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #0066cc;
    font-weight: bold;
}

.back-link i {
    margin-right: 5px;
}
/* <!-- start footer section  --> */

.footer {
    background-color: #000016;
    color: #fff;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span {
    color: #3a6cf4;
}
.footer .social-icons {

    margin: auto 0;
}
.footer .social-icons a {

    font-size: 1.6em;
    padding: 0 12px 0 0;
}
/* <!-- end footer section  --> */

/* Responsive Styles */
/* @media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    .gallery img {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .gallery img {
        width: 100%;
    }
} */

/* Responsive Styles */
@media (max-width: 900px) {
    header {
        flex-direction: column;
        padding: 10px;
        font-size: 0.8em;
    }

    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        /* flex-direction: column; */
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    header nav ul li {
        
        margin: 10px ;
    }

    .gallery {
        padding: 10px;
    }

    .gallery img {
        width: calc(33.33% - 10px);
    }
}

@media (max-width: 480px) {
    .gallery img {
        width: 100%;
    }

    main {
        padding: 100px 10px;
    }
    
    
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer .social-icons {
       
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
}